.droptown {
    position: relative;

}

.contenedor_droptown {
    position: absolute;
    margin-top: 7px;
    display: none;
    text-align: center;
}

.contenedor_droptown a {
    display: block;
    margin-top: 0px;
    width: 90%;
    border-radius: 0px;
    padding: 5px 10px;
}

.contenedor_droptown a:hover {
    background-color: #65b7ff;
    transition: 0.4s;
}

.droptown:hover .contenedor_droptown {
    display: block;
    transition: 2s;
}