.contenedor_mensaje_error{
    position: absolute;
    top: 20px;
    right:  20px;
    animation: MensajeError 0.5s;
    display: none;
}
.ActivarMensaje {
    display: flex;
}
@keyframes MensajeError {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 20px;
        opacity: 1;
    }
}
.mensaje_error{
display: flex;
justify-content: space-between;
   background-color: #fc5555;
   border-radius: 5px;
   width: 600px;
}
.mensaje_error div{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 20px;
    color: white;

}