* {
    margin: 0;
}

ul {
    list-style-type: none;
}

.header {
    border-bottom: 1px solid rgb(217, 217, 217);
    box-shadow: 0px 0px 10px 0px rgb(195, 195, 195);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/*contenedor header*/
.contenedor_header {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

/*header1*/
.header_1 {
    display: flex;

}

.header_titulo a {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px black;
    font-size: 40px;
}

.header_opciones {
    margin-top: auto;
    margin-bottom: auto;
}

.opciones_header {
    display: flex;
}

.opciones_header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

/*header2*/
.header_2 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header_login a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid rgb(0, 136, 255);
    background-color: rgb(0, 136, 255);
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.header_register a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid rgb(0, 136, 255);
    background-color: rgb(0, 136, 255);
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.header_usuario a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid rgb(0, 136, 255);
    background-color: rgb(0, 136, 255);
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.titulo_responsive {
    display: none;
}

.barra_responsive a {
    display: none;
}

/*footer*/
.footer {
    border-top: 1px solid rgb(217, 217, 217);
    box-shadow: 0px 0px 10px rgb(195, 195, 195);
    padding-top: 1.0%;
    padding-bottom: 1.0%;
}

.titulo_footer {
    text-align: center;
}

.titulo_footer a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.opciones_footer ul {
    border-bottom: 1px solid rgb(196, 196, 196);

}

.opciones_footer a {
    text-decoration: none;
    color: black;
    font-size: 18px;

}

.footer_opciones a {
    margin: 25px;

}

.footer_opciones {
    display: flex;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.derechos_de_autor p {
    text-align: center;
}

/*responsive*/
@media only screen and (max-width: 900px) {
    .opciones_header {
        display: none;
    }

    .barra_responsive a {
        margin-left: 10px;
        font-size: 20px;
        color: black;
        display: block;
    }

}

@media only screen and (max-width: 550px) {
    .titulo_responsive_off {
        display: none;
    }

    .titulo_responsive {
        display: block;
    }
}

@media only screen and (max-width: 350px) {

    .header_login,
    .header_register,
    .header_usuario {
        display: none;
    }

}