* {
    margin: 0;
}

.slider {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #ddd;
    padding: 5%;
}

.contenedor_slider {
    display: flex;
    justify-content: center;

}

.contenedor_slider div {
    margin-top: auto;
    margin-bottom: auto;
}

.Slider_titulo a {
    text-decoration: none;
    color: black;

}

.Slider_texto p {
    margin-top: 20px;
    font-size: 18px;
    max-width: 90%;
    margin-bottom: 30px;
}

.Slider_btn a {

    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #0088ff;
    padding: 10px 20px;
}

.slider_img img {
    width: 550px;
}

/*arrow*/
.arrow_left a {
    position: absolute;
    left: 10%;
    font-size: 25px;
    color: black;
    border: none;
    background-color: #ddd;
    padding: 10px 20px;
}



.arrow_rigth a {
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: black;
    background-color: #ddd;
    padding: 10px 20px;
}

.arrow_left a:hover {
    color: white;
    border: none;
    background-color: rgb(126, 126, 126);
    transition: 0.5s;
}

.arrow_rigth a:hover {
    color: white;
    border: none;
    background-color: rgb(126, 126, 126);
    transition: 0.5s;
}

/*responsive*/
@media only screen and (max-width:1100px) {
    .slider {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media only screen and (max-width:900px) {
    .contenedor_slider {
        display: block;
        align-items: center;
    }


    .slider_img img {
        margin-top: 20px;
        width: 100%;
    }
}