.detalles_compras{
    background: #2297E6;
    color: white;
    font-size: 20px;
    padding: 5px 16px;
    border-radius: 3px;
}
.detalles_compras:hover{
    transition: 0.4s;
    background: #69B6EA;
}